[alias]
	stat = status
	last = log --format=\"%H  %cn  %cd  %s\" --date=format:\"%Y-%m-%d %H:%M:%S\" -1 HEAD
	st = status
	cko = checkout
	br = branch
	com = commit
	l = log --format=\"%H  %cn  %cd  %s\" --date=format:\"%Y-%m-%d %H:%M:%S\"
	unstage = reset HEAD
[core]
	autocrlf = false
[diff]
	guitool = kdiff3
[diff "odp2txt"]
    textconv = odp2txt
    binary = true
[diff "odt2txt"]
    textconv = odt2txt
    binary = true
[diff "ods2txt"]
    textconv = ods2txt
    binary = true
[diff "catdoc"]
	textconv = catdoc
	binary = true
[diff "catppt"]
    textconv = catppt
    binary = true
[diff "xls2csv"]
    textconv = xls2csv
    binary = true
[diff "xls2csv"]
    textconv = xls2csv
    binary = true
[diff "pandoc"]
    textconv=pandoc --to=markdown
    prompt = false
[diff "pdf2txt"]
    textconv=pdf2txt
    binary = true
[diff "utf16"]
	textconv = iconv -c -f UTF-16LE -t ASCII
[difftool "kdiff3"]
	path = /usr/bin/kdiff3
[log]
	date = local
[merge]
	tool = kdiff3
